<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlvKORzmxS6XAUd9qIGO2A9ziM079-HNk</string>
	<key>GCM_SENDER_ID</key>
	<string>529299213781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dewallstreet.sprinkle</string>
	<key>PROJECT_ID</key>
	<string>sj-clothing-app-e38ad</string>
	<key>STORAGE_BUCKET</key>
	<string>sj-clothing-app-e38ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529299213781:ios:11285c5082fc4f4f61c15c</string>
</dict>
</plist>